* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.title-container {
  text-align: center;
}

.weather-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.forecast-weather-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forecast-weather-block {
  margin: 2rem;
  border: solid 1.5px black;
}
